name: Create new release

on:
  push:
    branches:
      - "**"
    tags:
      - "!**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    #runs-on: ubuntu-latest
    # ImportError: /lib64/libc.so.6: version `GLIBC_2.34' not found (required by
    # /tmp/.mount_FFsub*/opt/python3.12/lib/python3.12/site-packages/_webrtcvad.cpython-312-x86_64-linux-gnu.so)
    # ubuntu-latest or 22.04 will require GLIBC_2.34

    steps:
    - uses: actions/checkout@main
    - name: Install fuse and libfuse2
      run: sudo apt install fuse libfuse2

    - name: Get appimagetool
      run: |
        set -x
        #wget https://github.com/AppImage/AppImageKit/releases/download/13/appimagetool-x86_64.AppImage
        version_go_appimage=$(wget -q -O - https://api.github.com/repos/probonopd/go-appimage/releases | grep "\"name.*appimagetool-.*-x86_64.AppImage\"" | head -n 1 | cut -d '-' -f2)
        echo "version_go_appimage: $version_go_appimage"

        wget -q "https://github.com/probonopd/go-appimage/releases/download/continuous/appimagetool-$version_go_appimage-x86_64.AppImage" -O appimagetool-x86_64.AppImage
        chmod +x appimagetool-x86_64.AppImage
        pwd; ls -lah

    - name: Get Pyhton AppImage
      run: |
        set -x
        # Ok
        #wget https://github.com/niess/python-appimage/releases/download/python3.9/python3.9.19-cp39-cp39-manylinux1_x86_64.AppImage
        wget https://github.com/niess/python-appimage/releases/download/python3.10/python3.10.6-cp310-cp310-manylinux2010_x86_64.AppImage

        # Test
        #wget https://github.com/niess/python-appimage/releases/download/python3.11/python3.11.1-cp311-cp311-manylinux_2_24_x86_64.AppImage

        fileName=$(ls python3*.AppImage)
        chmod +x "$fileName"
        ./"$fileName" --appimage-extract
        ls -lah

    - name: Install MComix and update pip
      run: |
        set -x
        version=$(grep -o "MComix:.*" README.md | cut -d ' ' -f2)
        echo "MComix version: $version"

        cd squashfs-root/opt/python3*/bin/
        pwd; ls -lah

        #./python3.* -m pip install --upgrade pip

        sudo apt install libgirepository1.0-dev

        #./pip3.* install PyGObject
        ./pip3.* install PyGObject==3.50.0

        #./pip3.* install pycairo
        #./pip3.* install PyGObject

        # https://sourceforge.net/projects/mcomix/files/
        # https://sourceforge.net/p/mcomix/wiki/Installation/

        #version="3.1.1" # Built locally
        wget https://sourceforge.net/projects/mcomix/files/MComix-$version/mcomix-$version.tar.gz

        tar -xvf mcomix-$version.tar.gz
        rm mcomix-$version.tar.gz

        cd mcomix-$version/
        ../python3.* -m pip install .
        #../python3.* -m pip install --no-deps .

        pwd; ls -lah
        cd ../
        ./python3.* -m pip install --upgrade pip

    - name: Make AppImage
      run: |
        set -x
        version=$(grep -o "MComix:.*" README.md | cut -d ' ' -f2)
        echo "MComix version: $version"

        cd squashfs-root/
        rm -v .DirIcon AppRun
        pwd; ls -lah

        #find . | grep ".png"
        #find . | grep ".svg"
        rm python.png
        cp opt/python3.10/bin/mcomix-3.1.1/share/icons/hicolor/48x48/apps/mcomix.png MComix.png
        pwd; ls -lah

        #find . | grep ".desktop"
        rm python*.desktop

        cat > MComix.desktop << 'EOF'
        [Desktop Entry]
        Version=1.0
        Name=MComix
        GenericName=Comic Book Viewer
        Comment=A viewer for comic book archives
        Exec=mcomix %f
        Icon=MComix
        Terminal=false
        Type=Application
        StartupNotify=true
        Categories=Graphics;Viewer;
        MimeType=application/vnd.comicbook-rar;application/vnd.comicbook+zip;application/vnd.comicbook+pdf;application/x-cb7;application/x-ext-cb7;application/x-cbr;application/x-ext-cbr;application/x-cbt;application/x-ext-cbt;application/x-cbz;application/x-ext-cbz;application/pdf;application/x-pdf;application/x-ext-pdf;application/x-cbp;application/x-ext-cbp;image/bmp;image/x-MS-bmp;image/x-bmp;image/gif;image/jpeg;image/png;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;
        EOF

        cat MComix.desktop
        pwd; ls -lah

        cat > AppRun << 'EOF'
        #!/bin/bash
        HERE="$(dirname "$(readlink -f "${0}")")"
        cd "$HERE"/opt/python3.*/bin/mcomix-*/
  
        all_Parameters=$@
        echo -e "\"Parameters: $all_Parameters\"\n"

        # Add the current directory, $PWD, to the 1 parameter
        par_1="$PWD/$1" # first parameter

        ../python3.* ../mcomix "$par_1"
        EOF

        chmod +x AppRun
        cat AppRun

        cd ../
        #mv AppRun squashfs-root/

        mv README.md squashfs-root/
        ls -lah squashfs-root/

        # Wrong permissions on AppDir, please set it to 0755 and try again
        chmod 0755 squashfs-root/

        #ARCH=x86_64 ./appimagetool-x86_64.AppImage squashfs-root/
        ARCH=x86_64 VERSION="${version}-1_JB" ./appimagetool-x86_64.AppImage squashfs-root/
        pwd; ls -lah

        fileName=$(ls MComix*.AppImage)
        echo "fileName: $fileName"
        md5sum "$fileName" > "${fileName}.md5"
        pwd; ls -lah

    # Build - Error: Resource not accessible by integration
    # Change Settings -> Actions -> General -> Workflow Permissions to allow read and write:
    # https://github.com/actions/first-interaction/issues/10#issuecomment-1506118886

    # https://github.com/marketplace/actions/upload-to-github-release
    - uses: xresloader/upload-to-github-release@main
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          file: "MComix*.AppImage; MComix*.zsync; MComix*.md5"
          #delete_file: "random-name-*.txt;random-*.txt"
          release_id: ${{ steps.create_release.outputs.id }}
          #overwrite: true
          verbose: true
          #tags: true
          draft: false
          default_release_name: "MComix V in AppImage"
